*
.background {
  margin: 0 auto;
  width: 250px;
}
  .box lightblue{
    float: left;
    padding: 40px 0;
    text-align: center;
    width: 100px;
    top: -600px; left: 200px;
  }
.lightblue {
  background-color: rgb(230, 232, 250);
}
.header img{
  border: 2px solid crimson;
  margin: right;
  border-radius: 100%;
  overflow: hidden;
  width: 40px;
  height: 40px;
  position: relative;
  top: -600px; left: 200px;
  }
.header p {
  vertical-align: center;
  margin: 0;
  top: -600px;               /* 3 */
  transform: translate(0, 50%) }   /* 4 */
}


/* .text-container {
  color: white;
  left: 0;
  position: absolute;
  text-align: center;
  top: 40%;
  width: 100%;
  font-family: Lato;
  position: relative;
}
.text-container h1 {
  font-size: 16;
  margin: 0;
}
.text-container p {
  margin: 0;
  text-align: center;
}

 */
