<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <base href="http://localhost:8080/countries" />
  <title>GeoCap</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap" rel="stylesheet">
  <link href="../style.css" rel="stylesheet" />
</head>
<body>
  ${header}
  <main class="y-wrap buffer">
    <ul>
      ${
        countries.map(country => `
          <li>
            <div class="country">${country.country}</div>
            <span>${country.city ? 'Capital: ' + country.city : 'Population: ' + country.population}</span>
          </li>
        `).join('')
      }
    </ul>
  </main>
</body>
</html>