* {
    font-family: sans-serif;
}

.container {
    margin: 0 auto;
    position: relative;
    width: 300px;
}

.text-container {
    color: white;
    left: 0;
    position: absolute;
    text-align: center;
    top: 68%;
    width: 100%;
}

.text-container h1 {
    font-size: 1.25rem;
    margin: 0;
}

.text-container p {
    margin: 0;
}
