* {
    font-family: sans-serif;
}

.container {
margin: 0 auto;
position: relative;
width: 320px;
}

img {
    width: 320px;
    height: 568px;
}

.text-container {
color: white;
left: 0;
position: absolute;
text-align: center;
top: 40%;
width: 100%;
}

.text-container h1 {
font-size: 2rem;
margin: 0;
}

.text-container p {
font-size: 1rem;
margin: 0;
}