body {
  background-color: aqua;
}

.container {
  background-color: cornflowerblue;
  height: 300px;
  width: 70%;
  /* I am the parent element position absolute child should look at
     set position: relative
  */
  position: relative;
}

.logo {
  background-color: crimson;
  height: 20px;
  width: 20px;
  /* I am position relative to you parent position relative! */
  position: absolute;
  left: 0;
  top: 0;
}