* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
.container {
  /* left: 0; */
  position: relative;
  width: 320px;
  height: 568px;
  /* top: 0; */
  margin: auto;
  /* border: 3px solid red; */
}

.text-container {
  color: white;
  left: 0;
  position: absolute;
  top: 42%;
  text-align: center;
  width: 100%;  
}

.text-container h1 {
  font-size: 1.7rem; /*1 rem is 16px, its a relative size*/
  margin: 0;
}

.text-container p {
  margin: 0;
}

.nav-bar {
  /* border: 1px solid blue; */
  background-color: white;
  opacity: .60;
  position: absolute;
  top: 0;
  width: 100%;
  height: 67px;
}

.profile {
  border-radius: 50%;
  margin: 0 auto;
  width: 40px;
  height: 40px;
  overflow: hidden;
  position: absolute;
  top: 12px;
  right: 8px;
}
.profile img {
  width: 145%;
  margin-left: -8px;
}

.links {
  text-align: center;
}

.drop {
  /* border: 1px solid red; */
  float: left;
  font-size: .8rem;
  width: 100px;
  text-align: auto;
  padding-top: 25px;
  width: 28%;
  margin: 0 auto;
  height: 67px;
  /* display: inline-block;*/ /*need to try this, formatting looks cleaner. */
}
.footer {
  /* border: 2px solid chartreuse; */
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 30px;
  background-color: rgb(48, 83, 126);
}
.footer h6 {
  color: white;
  text-align: center;
  padding: 7px;
}