* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  position: relative;
  width: 320px;
  height: 568px;

}

.text-container {
  color: white;
  position: absolute;
  top: 35%;
  text-align: center;
  width: 100%;
}

.text-container h1 {
  margin: 0;
}

.text-container p {
  margin: 0;
}


.nav {
  position: absolute;
  width: 100%;
  display: inline-block;
  text-align: center;
  opacity: 0.33;
}

.nav .child {
  float: left;
  padding-left: 5%;
  margin-bottom: 5%;
}

.child {
  z-index: auto;
}

/* This is manual method. */
.nav img {
  border-radius: 50%;
  height: 80px;
  overflow: hidden;
  width: 80px;
  position: absolute;
  top: 0%;
  right: 0%
}

/* Footer */
.footer {
  position: absolute;
  text-align: center;
  bottom: 1%;
  display: block;
  width: 100%;
  margin-bottom: -5px;
  padding: 15px;
  background-color: #3b5998;
  color: white;
}