body {
  background-color: aquamarine;
}

.container {
  border: 2px solid red;
  /* center in the page */
  margin: 0 auto;
  
  width: 300px;
  height: 200px;
  overflow: hidden;
}

img {
  /* fill in the container */
  width: 100%;
}