body {
  background-color: aquamarine;
}

div, img {
  border: 3px solid blue;
}
.container {
  width: 300px;
  height: 200px;
  overflow: hidden;
  margin: 0 auto;
}

img {
  /* fill in 100% of container width */
  width: 100%;
}