* {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    /* border: 1px solid coral; */
    /* margin: 0 auto; */
    position: relative;
    width: 320px;
}

.text-container {
    /* border: 1px solid green; */
    color: white;
    left: 0;
    position: absolute;
    text-align: center;
    top: 40%;
    width: 320px;
}

.text-container h1 {
    font-size: 2rem;
    margin: 10px;
}

.text-container p {
    margin: 0;
}

img {
    width: 100%;
}

/* .box {
    background-color: white;
    border: 1px color blue;
    width: 320px;
    height: 50px; */
    

}
.white {
    border: 1px color red;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

.img-container {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
    float: right;
    
}

.banner {
    border: 1px solid red;
    display: inline;
    width: auto;
}

