* {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    /* border: 1px solid coral; */
    /* margin: 0 auto; */
    position: relative;
    width: 320px;
}

.text-container {
    /* border: 1px solid green; */
    color: white;
    left: 0;
    position: absolute;
    text-align: center;
    top: 40%;
    width: 320px;
}

.text-container h1 {
    font-size: 2rem;
    margin: 10px;
}

.text-container p {
    margin: 0;
}

img {
    width: 100%;
}