* {
  /* when width doesn't fit use border-box  gets rid of border width*/
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background-color: red;
}

.container {
  background-color: #ccc;
  overflow: auto;
}

.container p, .container img {
  float: left;
  width: 50%;
}

.container p {
  padding: 0 10px;
}