* .header {
  overflow: auto;
  box-sizing: border-box;
}
.header-menu ul{
  float: right;
  width: 75%;
}
.header-menu {
  float: left;
  position: absolute top 10px;
  width: 100%;
}
ul{
  list-style-type: none;
}

li{
  display:inline-block;
}

.top-img-contain{
  width: 10%;
  float: right;
}
.image-container{
  border-radius: 100%;
  overflow: hidden;
  width: 40px;
  height: 40px;
  }
img{
    width: 140%;
    margin-left: -10px;
}
.box1 {
  float: top;
  padding: 10px 0;
  width: 100px;

 {
  font-family: Lato;
  position: relative;
}

.background {
  margin: 0 auto;
  width: 300px;
}

.text-container {
  color: white;
  left: 0;
  position: absolute;
  text-align: center;
  top: 40%;
  width: 100%;
}
.text-container h1 {
  font-size: 16;
  margin: 0;
}
.text-container p {
  margin: 0;
  text-align: center;
}


