<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Server side rendered project</title>
  <style>
    p {
      color: blue
    }
  </style>
</head>
<body>
  <h1>${title}</h1>
  <p>${profileArray.map( profile => `
      <div>
        <img src="${profile.image}" class="avatar" />
        <h2 class="profile-name"><a href="./profile/${profile.id}">${profile.name}</a></h2>
        <h3>$ ${profile.cost}</h3>
        <p>${profile.description}</p>
      </div>
    `).join("")}</p>
</body>
</html>