<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Not Found 404</title>
</head>
<body>
  <h1>Error Page Not Found: 404</h1>
  <img src="https://cdn.glitch.com/cb093bfd-142f-45b3-bdb4-52ff49e0a1c2%2Fgrumpy.gif?v=1619841777278" alt="husky angry">
  <img src="https://media.tenor.com/images/60ca41c887fc2d1c204ba661677f26e3/tenor.gif" alt="magic shia">
</body>
</html>