<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FaceGram Profile</title>
</head>
<body>
  <main>
    <div class="profile">
      <img src="${profile.avatar}" alt="">
      <h2 class="profile-name">${profile.name}</h2>
    </div>
    <br>
    <h5 class="text-center">Email: <a href="mailto:${profile.email}">${profile.email}</a></h5>
    <hr>
    <div class="photo-container">
      ${profile.images.map( image => `
        <img class="post" src="${image}">
      `).join("")}
    </div>
  </main>
</body>
</html>